<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Banco de Braga - Contas</title>
</head>
<body>
<h2>Contas</h2>
<table>
    <thead>
    <tr>
        <th>Cliente</th>
        <th>Agência</th>
        <th>Número</th>
        <th>Tipo</th>
        <th>Saldo</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="account : ${accounts}">
        <td th:text="${account.client.getName()}"></td>
        <td th:text="${account.agency}"></td>
        <td th:text="${account.number}"></td>
        <td th:text="${account.type}"></td>
        <td th:text="${account.balance}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>