<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Banco de Braga - Clientes</title>
</head>
<body>
<h2>Clientes</h2>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Password</th>
            <th>NIF</th>
            <th>NIC</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="client : ${clients}">
            <td th:text="${client.name}"></td>
            <td th:text="${client.email}"></td>
            <td th:text="${client.password}"></td>
            <td th:text="${client.NIF}"></td>
            <td th:text="${client.NIC}"></td>
        </tr>
        </tbody>
    </table>
</body>
</html>