<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Banco de Braga - Clientes</title>
</head>
<body>
<h2>Transações</h2>
<table>
    <thead>
    <tr>
        <th>Data</th>
        <th>Tipo</th>
        <th>Valor</th>
        <th>Cliente</th>
        <th>Conta de Origem</th>
        <th>Conta de Destino</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="transaction : ${transactions}">
        <td th:text="${transaction.date}"></td>
        <td th:text="${transaction.type}"></td>
        <td th:text="${transaction.value}"></td>
        <td th:text="${transaction.client.getName()}"></td>
        <td th:text="${transaction.getSourceAccount().getNumber()}"></td>
        <td th:text="${transaction.getDestinationAccount().getNumber()}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>